.button {
  margin-right: 5px;
  font-size: 15px;

  background: linear-gradient(
    0deg,
    rgba(96, 9, 240, 1) 0%,
    rgba(129, 5, 240, 1) 100%
  );
  border: none;
  width: 100px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;

  box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%),
    7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
}
